.container{
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:rgb(230, 249, 255);
    padding:50px;
    
}
.container h2{
    text-align: center;
}