.slide {
    text-align:left;
    background-color:rgb(187, 239, 255);
    border-radius: 50px;
    padding:50px;
}
.container{
    border-radius: 40px;
    max-width: 700px;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color:rgb(230, 249, 255);
}
body{
    background-color:rgb(230, 249, 255);
}